
.vs/SFML-test/v17/.suo
.vs/SFML-test/v17/Browse.VC.db
.vs/SFML-test/v17/Browse.VC.db-shm
.vs/SFML-test/v17/Browse.VC.db-wal
.vs/SFML-test/v17/Browse.VC.opendb
.vs/SFML-test/v17/DocumentLayout.json
SFML-test/x64/Debug/SFML-test.ilk
SFML-test/x64/Debug/SFML-test.log
SFML-test/x64/Debug/SFML-test.tlog/link.read.1.tlog
x64/Debug/SFML-test.exe
x64/Debug/SFML-test.pdb
.vs/SFML-test/v17/DocumentLayout.json
.vs/SFML-test/v17/.suo
/.vs
/.vs
